:root {
  font-family: 'Roboto Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-bg: #242424;
  --color-primary: #8B5CF6;
  --color-primary-dark: #5B21B6;
  --color-gold: #FACC15;
  --color-emerald: #10B981;
  --color-red: #EF4444;
  --color-text: #E5E5E5;
  --color-text-muted: #9CA3AF;
  --color-constrast: #374151;
  --radius: 8px;
  color-scheme: light dark;
}

/*tailwind layers*/
@import "tailwindcss";

/*override styles*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  transition: color 0.15s;
}

a:hover {
  color: var(--color-gold);
}

button {
  border-radius: var(--radius);
  border: 1px solid var(--color-primary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary-dark);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--color-primary);
}